.footer {

	&__container {}

	&__body {
		display: grid;
		border-top: 1px solid #d8d8d8;
		grid-template-columns: rem(250) 1fr rem(290);
		@include adaptiv-value('padding-top', 80, 30, 1);
		@include adaptiv-value('padding-bottom', 60, 30, 1);
		@include adaptiv-value('column-gap', 80, 0, 1);

		@media (max-width: 1270px) {
			grid-template-rows: auto auto;
			grid-template-columns: 1fr rem(290);
		}

		@media (max-width: 992px) {
			display: block;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: 1270px) {
			grid-column: span 2;
			@include adaptiv-value('margin-bottom', 40, 30, 1);
		}
	}

	&__logo {
		margin: 0px 0px 16px/24px * 1em 0px;
	}

	&__text {
		color: $grayColor;
		line-height: 150%;

		&:not(:last-child) {
			margin: 0 0 1em 0;
		}
	}

	&__menu {
		@media (max-width: 992px) {
			@include adaptiv-value('margin-bottom', 40, 30, 1);
		}
	}
}

._footer-title {
	@include adaptiv-value('font-size', 24, 20, 1);
	line-height: 29/24 * 100%;
	color: #000;
	font-weight: 700;
	background-color: transparent;
}

.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__item {
		display: inline-flex;
		align-items: center;
		color: $grayColor;
		line-height: 150%;
		transition: all 0.3s ease 0s;

		&:before {
			margin: 0 rem(8) 0 0;
		}

		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 16, 10, 1);
		}

		@media(any-hover:hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
}

.menu-footer {
	@media (min-width: 768px) {
		display: flex;
	}

	&__column {
		@media (min-width: 768px) {
			flex: 0 0 33.333%;
		}

		@media (max-width: 768px) {
			@include adaptiv-value('margin-bottom', 30, 15, 1);
		}
	}

	&__top {
		@media (max-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__title {
		cursor: default;
		position: relative;

		@media (min-width: 768px) {
			margin: 0px 0px 16px/24px * 1em 0px;
		}
	}

	&__arrow {
		display: none;

		@media (max-width:768px) {
			display: inline-flex;
			background-color: transparent;
			transition: all 0.3s ease 0s;
			font-size: rem(14);
			margin: 0px 0px 0px rem(8);

			&._active {
				transform: rotate(180deg);
			}
		}
	}

	&__wrapper {
		@media (max-width: 768px) {
			overflow: hidden;
			margin: 0 rem(-15);
			transition: all 0.3s ease 0s;

			&._active {
				margin: rem(5) rem(-15) 0 rem(-15);
			}
		}
	}

	&__list {
		@media (max-width:768px) {
			padding: rem(15);
		}

		li {
			&:not(:last-child) {
				margin: 0 0 rem(15) 0;
			}
		}
	}

	&__link {
		color: $darkGreyColor;
		transition: all 0.3s ease 0s;
		line-height: 120%;
		font-weight: 500;

		@media(any-hover:hover) {
			&:hover {
				color: $orangeColor;
			}
		}

		@media (max-width: 768px) {
			font-weight: 600;
		}
	}
}

.subscribe {
	position: relative;

	&__title {
		margin: 0px 0px 16px/24px * 1em 0px;
	}

	&__form {
		display: flex;
		position: relative;

		&._error {
			border: rem(1) solid red;
		}
	}

	&__button {
		flex: 0 0 rem(45);
		height: rem(45);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: rem(18);
		background-color: $orangeColor;
		color: #fff;
		margin: 0 0p 0 rem(4);
		transition: background-color 0.3s ease 0s;

		@media(any-hover:hover) {
			&:hover {
				background-color: #da8f4a;
			}
		}
	}

	&__input {
		width: 100%;
		padding: 0 rem(12);
		background-color: #f4f5f7;
		color: #828282;

		&._error {
			border: rem(1) solid red;
		}
	}

	&__message {
		position: absolute;
		left: rem(0);
		font-size: rem(12);
		color: red;
		font-weight: 300;

		animation-name: showMessage;
		animation-duration: 0.3s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
	}

	@keyframes showMessage {
		0% {
			opacity: 0;
			@include adaptiv-value('bottom', -25, -17, 1);
		}

		100% {
			opacity: 1;
			@include adaptiv-value('bottom', -20, -15, 1);
		}
	}
}